<h1>Léeme</h1>
<hr>
<h2>Instrucciones para poder</h2>

<ol>
    <li>Arrancar el servidor: <pre><code>npm run dev</code></pre></li>
    <li>*NOTA: Gracias al fichero <pre><code>.map</code></pre> podemos depurar el fichero <pre><code>.ts</code></pre>.</li>
    <li>Ejecutar en otro terminal el <pre><code>watch</code></pre> para que se refresquen los cambios (<pre><code>VSCode --> Terminal --> Ejecutar compilar tarea --> tsc: seguir</code></pre>).</li>
    <li></li>
    <li></li>
</ol>

<h3>Enlaces de interés</h3>
<ul>
    <li><a href="https://ui-router.github.io/ng1/" targer="_blank">UI-Router for AngularJS (1.x)</a></li>
    <li><a href="https://www.typescriptlang.org/" targer="_blank">TypeScript</a></li>
    <li><a href="https://www.freecodecamp.org/learn" targer="_blank">ES6- EcmaScript 2015</a></li>
    <li><a href="https://ui-router.github.io/ng1/" targer="_blank">UI-Router for AngularJS (1.x)</a></li>
</ul>

ES6- EcmaScript 2015



